/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1000px) {
    .container-2 {
      /* flex-direction: column; */
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .img-wraper {
      width: 350px;
    }
  }
  
  @media (max-width: 800px) {
    .right-box,
    .left-box {
      width: 200px;
      height: 200px;
      background-color: red;
    }
    .container > h1 {
      font-size: 32px;
      color: blue;
    }
  }
  @media (max-width: 661px) {
    .burgerbar {
      display: block;
    }
    .nav {
      display: none;
    }
  }
  @media (max-width: 700px) {
    .container-2 {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  
    .img-wraper:not(:last-child) {
      margin-bottom: 30px;
    }
    /* .img-wraper:last-child {
          margin-bottom: 0;
      } */
  }